.main-container-search {
  padding: 20px 20px 0px 20px;
  display: inline-block;
  width: 100%;
}
.main-container-search-form {
  width: 100%;
}

.search-input {
  background-image: url(./img/search.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: 9px 50%;
}
.form-input {
  width: 100%;
  padding: 7px 11px 7px 35px;
  border: 1px #ddd solid;
  outline: none;
  border-radius: 4px;
}

form,
input {
  font-family: SFPro;
  font-size: 14px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0px 20px;
}

.cloud-storage-card {
  transition: transform 0.3s;
  flex: 0 0 32%;
  background-color: white;
  padding: 20px 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.second-card {
  margin-left: 2%;
  margin-right: 2%;
}
.cloud-storage-card img {
  margin-bottom: 4px;
  padding: 5px;
}
.cloud-storage-card:hover {
  background-image: linear-gradient(to right, #757ffe, #5e69fe);
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
.cloud-storage-card:hover .storage-progress-bar-individual {
  background-color: white;
}
.cloud-storage-card:hover
  .storage-progress-bar-individual
  .storage-progress-bar-individual1 {
  background-color: #fabc43;
}
.cloud-storage-card:hover img {
  border-radius: 5px;
  background-color: white;
}
.cloud-storage-card:hover
  .cloud-storage-name
  .float-right
  .cloud-storage-name-value {
  color: #ffffff;
}
.cloud-storage-name {
  padding-bottom: 15px;
}
.cloud-storage-name-value {
  color: #b7bbd5;
}

.shared-folder-card {
  margin-top: 20px;
  transition: transform 0.3s;
  flex: 0 0 32%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.shared-folder-card-info-name p {
  color: #878eb8;
}

.shared-people-1 {
  z-index: 1;
  display: inline-block;
}
.shared-people-2 {
  z-index: 2;
  display: inline-block;
  margin-left: -5px;
}
.shared-people-img1 {
  border-radius: 50%;
  border: 1px solid #fdbe00;
}
.shared-people-img2 {
  border-radius: 50%;
  border: 1px solid #ff6760;
}
.shared-folder-card:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #757ffe, #5e69fe);
  cursor: pointer;
}
.shared-folder-card:hover p {
  color: #ffffff;
}
.shared-folder-card:hover h4 {
  color: #ffffff;
}
.shared-folder-card:hover i {
  color: #fdbe00;
}
.shared-folder-card-info-name {
  color: #5864ff;
}
.main-container-header {
  padding: 20px 20px 0px 20px;
}

.file-icon {
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
}
.recent-files-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  color: #6a74a8;
}
.recent-files-table th {
  padding: 10px 20px;
  text-align: left;
}

.recent-files-table td {
  transition: transform 0.3s;
  padding: 10px 20px;
}
/* The file name has different text color than other */
.recent-files-table tbody tr td:first-child {
  color: #0e1c71;
}

.recent-files-table tbody tr:hover td {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #ffffff;
}

.storage-progress-bar-individual {
  margin-top: 10px;
  height: 5px;
  position: relative;
  background-color: #f0f4fc;
  border-radius: 5px;
}
.storage-progress-bar-individual1 {
  position: absolute;
  height: 5px;
  z-index: 1;
  background-color: #6090f7;
  width: 60%;
  border-radius: 5px;
}
.folder-view-all {
  color: #6570f7;
  border: none;
  outline: none;
}

.folder-view-all:hover {
  font-weight: bold;
  cursor: pointer;
}

.twitter-feed {
  margin-top: 20px;
  padding: 0px 20px;
}

/* For smaller screen size */
@media only screen and (max-width: 900px) {
  .cloud-storage-card {
    padding: 20px 30px;
    flex: 0 0 100%;
  }

  .cloud-storage-card:hover {
    background-image: linear-gradient(to right, #757ffe, #5e69fe);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
  }
  .second-card {
    margin-left: 0%;
    margin-right: 0%;
  }
  .shared-folder-card {
    margin-top: 20px;
    flex: 0 0 100%;
  }
  .shared-folder-card:hover {
    transform: scale(1.03);
    background-image: linear-gradient(to right, #757ffe, #5e69fe);
    cursor: pointer;
  }
}
