.main-container-search {
  padding: 20px;
  display: inline-block;
  width: 100%;
}
.main-container-search-form {
  width: 100%;
}

.my-folder-view-all {
  margin-top: 20px;
}

.search-input {
  background-image: url(./img/search.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: 9px 50%;
}
.form-input {
  width: 100%;
  padding: 7px 11px 7px 35px;
  border: 1px #ddd solid;
  outline: none;
  border-radius: 4px;
}
/* font family should be changed */
form,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 10px;
}

.cloud-storage-card {
  margin-top: 20px;
  border: 1px solid black;
  flex: 0 0 30%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px 10px 30px 10px;
  border-radius: 5px;
}
.cloud-storage-name-value {
  color: #b7bbd5;
}

.shared-folder-card {
  flex: 0 0 30%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.second-card {
  margin-left: 23px;
  margin-right: 23px;
}

.shared-folder-card-info-name {
  color: #5864ff;
}
.main-container-header {
  padding: 20px 20px 0px 20px;
}

.file-icon {
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
}
.recent-files-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}
.recent-files-table th {
  padding: 10px 20px;
  text-align: left;
}

.recent-files-table td {
  padding: 10px 20px;
}

.recent-files-table tbody tr:hover td {
  cursor: pointer;
  background-color: #ffffff;
}

.storage-progress-bar-individual {
  margin-top: 10px;
  height: 5px;
  position: relative;
  background-color: #f0f4fc;
  border-radius: 5px;
}

.folder-view-all {
  border: none;
  outline: none;
}

.folder-view-all:hover {
  cursor: pointer;
}
