@font-face {
  font-family: "SFPro";
  src: local("SFPro"), url(./fonts/SFPro.ttf) format("truetype");
}
.App {
  max-width: 100%;
  margin: 2px auto;
}
.main-wrapper {
  display: flex;
  flex-direction: row;
}
.menu-nav-wrapper {
  min-width: 80px;
  max-width: 100px;
  width: 7%;
  background-color: #5864ff;
}
.side-nav-wrapper {
  min-width: 200px;
  width: 20%;
  background-color: white;
  border-right: 2px solid #f2f3f8;
}
.main-container-wrapper {
  width: 50%;
  background-color: #f6f8fb;
}
.storage-wrapper {
  width: 23%;
  background-color: white;
}

@media only screen and (max-width: 640px) {
  .menu-nav-wrapper {
    display: none;
  }
  .main-container-wrapper {
    width: 100%;
  }
  .storage-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .main-container-wrapper {
    width: 100%;
  }
  .storage-wrapper {
    display: none;
  }
}
