.storage-amount {
  display: flex;
  flex-direction: row;
}

.used {
  width: 50%;
}
.total {
  width: 50%;
  text-align: right;
}

.storage-progress-bar {
  height: 4px;
  position: relative;
  background-color: grey;
  border-radius: 5px;
}

.storage-category-row {
  display: flex;
  flex-direction: row;
}

.storage-category-icon {
  width: 30%;
}
.storage-category-name {
  font-size: 10px;
  width: 40%;
}
.storage-category-amount {
  font-size: 10px;
  width: 30%;
  text-align: right;
}
